.root {
    -fx-primary-color: #000000;
    -fx-gradient: linear-gradient(to top left, #000000, #141925);
    -fx-gradientII: linear-gradient(to top right, #000000, #141925);
    -fx-font-color: #ffffff;
    -fx-font-color_blur: rgba(255, 255, 255, 0.21);
    -fx-no_metal: #329ffe;
    -fx-properties_color: #00a877;
    -fx-elec_color: #f6501c;
    -fx-note_color: #3d84e3;
    -fx-no_metal_blur: rgba(50, 159, 254, 0.21);
    -fx-metal_de_transicion: #60c5e3;
    -fx-metal_de_transicion_blur: rgba(96, 197, 227, 0.21);
    -fx-actinido: #ff211e;
    -fx-actinido_blur: rgba(255, 33, 30, 0.21);
    -fx-metal_basico: #ff7f26;
    -fx-metal_basico_blur: rgba(255, 127, 38, 0.21);
    -fx-gas_noble: #ffc90d ;
    -fx-gas_noble_blur: rgba(255, 201, 13, 0.21);
    -fx-halogeno: #f7f41d;
    -fx-halogeno_blur: rgba(247, 244, 29, 0.21);
    -fx-lantanido: #bafc29;
    -fx-lantanido_blur: rgba(186, 252, 41, 0.21);
    -fx-semi_metal: #41d28d;
    -fx-semi_metal_blur: rgba(65, 210, 141, 0.21);
    -fx-metal_alcalino: #db25d9;
    -fx-metal_alcalino_blur: rgba(219, 37, 217, 0.21);
    -fx-metal_alcalino_terreo: #aa4dfd;
    -fx-metal_alcalino_terreo_blur: rgba(170, 77, 253, 0.21);
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Mono";
}

.window, .principal, .hbox_img {
    -fx-background-color: -fx-gradient;
}

.principal, .hbox_img, .img {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -fx-font-color;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.img_symbol {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-style: solid;
}

.img {
    -fx-background-image: url("../icons/App_Icon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.name {
    -fx-font-family: -fx-font-family;
}

.name_container {
    -fx-border-width: 1px;
    -fx-border-color: -fx-font-color;
    -fx-border-style: solid;
}

.triangle {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.atomic_num, .sym, .nam, .atom_mass {
    -fx-text-fill: -fx-font-color;
    -fx-font-family: -fx-font-family;

}

.atomic_num {
    -fx-font-size: 20px;
}

.sym {
    -fx-font-size: 90px;
}

.nam{
    -fx-font-size: 30px;
    -fx-background-color: transparent;
}

.atom_mass {
    -fx-font-size: 20px;
}


.properties_container, .elec_container, .note_container {
    -fx-background-color: -fx-properties_color;
    -fx-border-color: -fx-properties_color;
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-border-width: 2px;
}

.elec_container {
    -fx-background-color: -fx-elec_color;
    -fx-border-color: -fx-elec_color;
}

.note_container {
    -fx-background-color: -fx-note_color;
    -fx-border-color: -fx-note_color;
}

.properties_label {
    -fx-text-fill: -fx-font-color;
    -fx-font-family: -fx-font-family;
    -fx-font-weight: bold;
}

.properties_icon, .elec_icon, .note_icon, .btn_icon {
    -fx-background-image: url("../icons/Properties_Icon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.elec_icon {
    -fx-background-image: url("../icons/App_Icon.png");
}

.note_icon {
    -fx-background-image: url("../icons/Note_Icon.png");
}

.btn_icon {
    -fx-background-image: url("../icons/Back_Icon.png");
}

.yanose {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-font-color;
}

.info {
    -fx-text-fill: -fx-font-color;
    -fx-font-family: -fx-font-family;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.auto_info {
    -fx-text-fill: -fx-font-color;
    -fx-font-family: -fx-font-family;
    -fx-font-size: 14px;
}

.custom-button {
    -fx-background-color: transparent; /* Color de fondo */
    -fx-text-fill: -fx-font-color; /* Color del texto */
    -fx-font-size: 13px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Bordes redondeados para el fondo */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-border-color: -fx-font-color; /* Color del borde */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-cursor: hand; /* Cambiar el cursor al pasar el mouse */
}

.custom-button:hover {
    -fx-background-color: -fx-font-color_blur; /* Cambiar color de fondo al pasar el mouse */
}