.root {
    -fx-primary-color: #000000;
    -fx-gradient: linear-gradient(to top left, #000000, #141925);
    -fx-gradientII: linear-gradient(to top right, #000000, #141925);
    -fx-font-color: #ffffff;
    -fx-check-color: #6e6c6c;
    -fx-no_metal: #329fee;
    -fx-no_metal_blur: rgba(50, 159, 254, 0.21);
    -fx-metal_de_transicion: #60c5e3;
    -fx-metal_de_transicion_blur: rgba(96, 197, 227, 0.21);
    -fx-actinido: #ff211e;
    -fx-actinido_blur: rgba(255, 33, 30, 0.21);
    -fx-metal_basico: #ff7f26;
    -fx-metal_basico_blur: rgba(255, 127, 38, 0.21);
    -fx-gas_noble: #ffc90d ;
    -fx-gas_noble_blur: rgba(255, 201, 13, 0.21);
    -fx-halogeno: #f7f41d;
    -fx-halogeno_blur: rgba(247, 244, 29, 0.21);
    -fx-lantanido: #bafc29;
    -fx-lantanido_blur: rgba(186, 252, 41, 0.21);
    -fx-semi_metal: #41d28d;
    -fx-semi_metal_blur: rgba(65, 210, 141, 0.21);
    -fx-metal_alcalino: #db25d9;
    -fx-metal_alcalino_blur: rgba(219, 37, 217, 0.21);
    -fx-metal_alcalino_terreo: #aa4dfd;
    -fx-metal_alcalino_terreo_blur: rgba(170, 77, 253, 0.21);
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Mono";
}

/*VENTANA*/
.window {
    -fx-background-color: -fx-primary-color;
}

.icon_app {
    -fx-background-image: url("../icons/App_Icon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*APP TITULO*/
.title_bar {
    -fx-background-radius: 10px;
    -fx-background-color:  -fx-primary-color;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -fx-font-color;
    -fx-border-radius: 10px;
}

.title{
    -fx-text-fill: -fx-font-color;
    -fx-font-family: -fx-font-family;
    -fx-font-size: 20px;
}

/*CONTENEDORES*/
.principal_container {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -fx-font-color;
    -fx-border-radius: 10px;
    -fx-background-color: -fx-gradient;
    -fx-background-radius: 10px;
}

.hbox_table{
    -fx-background-color:  -fx-gradient;
    -fx-background-radius: 10px;

}

.c1{
    -fx-padding: 2px;
}

/*ELEMENTOS*/

/*--------------------------------------------------------------------------------------------------------------------*/
.element_no_metal,
.element_metal_de_transicion,
.element_actinido,
.element_metal_basico,
.element_gas_noble,
.element_halogeno,
.element_lantanido,
.element_semi_metal,
.element_metal_alcalino,
.element_metal_alcalino_terreo {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -fx-no_metal;
    -fx-background-color: transparent;

    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.46), 10, 0.5, 0, 0);
}

.element_no_metal:hover {
    -fx-background-color: -fx-no_metal_blur;
}

.no_metal,
.metal_de_transicion,
.actinido,
.metal_basico,
.gas_noble,
.halogeno,
.lantanido,
.semi_metal,
.metal_alcalino,
.metal_alcalino_terreo,
.izquierda,
.derecha,
.arriba_I,
.arriba_II,
.arriba,
.arriba_III,
.arriba_IV {

    -fx-background-image: url("../color_group/noMetal.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/*--------------------------------------------------------------------------------------------------------------------*/

.element_metal_de_transicion {
    -fx-border-color: -fx-metal_de_transicion;
}

.element_metal_de_transicion:hover {
        -fx-background-color: -fx-metal_de_transicion_blur;
}

.metal_de_transicion {
    -fx-background-image: url("../color_group/metalDeTransicion.png");
}
/*--------------------------------------------------------------------------------------------------------------------*/

.element_actinido {
    -fx-border-color: -fx-actinido;
}

.element_actinido:hover {
    -fx-background-color: -fx-actinido_blur;
}

.actinido {
    -fx-background-image: url("../color_group/actinido.png");
}
/*--------------------------------------------------------------------------------------------------------------------*/

.element_metal_basico {
    -fx-border-color: -fx-metal_basico;
}

.element_metal_basico:hover {
    -fx-background-color: -fx-metal_basico_blur;
}

.metal_basico {
    -fx-background-image: url("../color_group/metalBasico.png");
}

/*--------------------------------------------------------------------------------------------------------------------*/

.element_gas_noble {
    -fx-border-color: -fx-gas_noble;
}

.element_gas_noble:hover {
    -fx-background-color: -fx-gas_noble_blur;
}

.gas_noble {
    -fx-background-image: url("../color_group/gasesNobles.png");
}
/*--------------------------------------------------------------------------------------------------------------------*/

.element_halogeno {
    -fx-border-color: -fx-halogeno;
}

.element_halogeno:hover {
    -fx-background-color: -fx-halogeno_blur;
}

.halogeno {
    -fx-background-image: url("../color_group/halogenos.png");
}

/*--------------------------------------------------------------------------------------------------------------------*/

.element_lantanido {
    -fx-border-color: -fx-lantanido;
}

.element_lantanido:hover {
    -fx-background-color: -fx-lantanido_blur;
}

.lantanido {
    -fx-background-image: url("../color_group/lantanido.png");
}

/*--------------------------------------------------------------------------------------------------------------------*/

.element_semi_metal {
    -fx-border-color: -fx-semi_metal;
}

.element_semi_metal:hover {
    -fx-background-color: -fx-semi_metal_blur;
}

.semi_metal {
    -fx-background-image: url("../color_group/SemiMetal.png");
}

/*--------------------------------------------------------------------------------------------------------------------*/

.element_metal_alcalino {
    -fx-border-color: -fx-metal_alcalino;
}

.element_metal_alcalino:hover {
    -fx-background-color: -fx-metal_alcalino_blur;
}

.metal_alcalino {
    -fx-background-image: url("../color_group/metalAlcalino.png");
}

/*--------------------------------------------------------------------------------------------------------------------*/

.element_metal_alcalino_terreo {
    -fx-border-color: -fx-metal_alcalino_terreo;
}

.element_metal_alcalino_terreo:hover {
    -fx-background-color: -fx-metal_alcalino_terreo_blur;
}

.metal_alcalino_terreo {
    -fx-background-image: url("../color_group/metalAlcalinoterreo.png");
}

/*--------------------------------------------------------------------------------------------------------------------*/

.atomic_number {
    -fx-font-size: 10px;
    -fx-text-fill: -fx-font-color;
}

.symbol {
    -fx-font-size: 25px;
    -fx-text-fill: -fx-font-color;
    -fx-font-family: -fx-font-family;
}

.name{
    -fx-text-fill: -fx-font-color;
    -fx-font-size: 8px;
}

.atomic_mass {
    -fx-text-fill: -fx-font-color;
    -fx-font-size: 8px;
}

.group, .group_name {
    -fx-font-size: 13px;
    -fx-text-fill: -fx-font-color;
}

.group_name {
    -fx-font-size: 14px;
}

.izquierda {
    -fx-background-image: url("../rows/izquierda.png");
}

.derecha {
    -fx-background-image: url("../rows/derecha.png");
}

.arriba_I {
    -fx-background-image: url("../rows/arriba_I.png");
}

.arriba_II {
    -fx-background-image: url("../rows/arriba_II.png");
}

.arriba {
    -fx-background-image: url("../rows/arriba.png");
}

.arriba_III {
    -fx-background-image: url("../rows/arriba_III.png");
}

.arriba_IV {
    -fx-background-image: url("../rows/arriba_IV.png");
}

.super {
    /*-fx-background-color: -fx-check-color;*/
    -fx-background-color: trasparent;
}

.info_label {
    -fx-text-fill: -fx-font-color;
}

.info_no_metal,
.info_metal_de_transicion,
.info_actinido,
.info_metal_basico,
.info_gas_noble,
.info_halogeno,
.info_lantanido,
.info_semi_metal,
.info_metal_alcalino,
.info_metal_alcalino_terreo {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.info_no_metal {
        -fx-background-color: -fx-no_metal_blur;
    -fx-border-color: -fx-no_metal;
}

.info_metal_de_transicion {
    -fx-background-color: -fx-metal_de_transicion_blur;
    -fx-border-color: -fx-metal_de_transicion;
}

.info_actinido {
    -fx-background-color: -fx-actinido_blur;
    -fx-border-color: -fx-actinido;
}

.info_metal_basico {
    -fx-background-color: -fx-metal_basico_blur;
    -fx-border-color: -fx-metal_basico;
}

.info_gas_noble {
    -fx-background-color: -fx-gas_noble_blur;
    -fx-border-color: -fx-gas_noble;
}

.info_halogeno {
    -fx-background-color: -fx-halogeno_blur;
    -fx-border-color: -fx-halogeno;
}

.info_lantanido {
    -fx-background-color: -fx-lantanido_blur;
    -fx-border-color: -fx-lantanido;
}

.info_semi_metal {
    -fx-background-color: -fx-semi_metal_blur;
    -fx-border-color: -fx-semi_metal;
}

.info_metal_alcalino {
    -fx-background-color: -fx-metal_alcalino_blur;
    -fx-border-color: -fx-metal_alcalino;
}

.info_metal_alcalino_terreo {
    -fx-background-color: -fx-metal_alcalino_terreo_blur;
    -fx-border-color: -fx-metal_alcalino_terreo;
}