.root {
    -fx-primary-color: #000000;
    -fx-font-color: #ffffff;
    -fx-no_metal: #329ffe;
    -fx-no_metal_blur: rgba(50, 159, 254, 0.21);
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Mono";
}

.test {
    -fx-font-family: -fx-font-family;
    -fx-text-fill: white;
}

.window {
    -fx-background-color: -fx-primary-color;
}

.title_bar {
    -fx-background-radius: 10px;
    -fx-background-color:  -fx-primary-color;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 10px;
}

.title{
    -fx-text-fill: white;
    -fx-font-family: -fx-font-family;
    -fx-font-size: 30px;
}

.icon_app {
    -fx-background-image: url("../icons/App_Icon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.principal_container {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 10px;
}

.hbox_table{
    -fx-background-color:  -fx-primary-color;
    -fx-background-radius: 10px;

}

.c1{
    -fx-padding: 2px;
}

.element_no_metal {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -fx-no_metal;
    -fx-background-color: transparent;

    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.46), 10, 0.5, 0, 0);
}

.element_no_metal:hover {
    -fx-background-color: -fx-no_metal_blur;
}

.no_metal {

    -fx-background-image: url("../color_group/noMetal.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.atomic_number {
    -fx-font-size: 10px;
    -fx-text-fill: -fx-font-color;
}

.symbol {
    -fx-font-size: 25px;
    -fx-text-fill: -fx-font-color;
    -fx-font-family: -fx-font-family;
}

.name{
    -fx-text-fill: -fx-font-color;
    -fx-font-size: 8px;
}

.atomic_mass {
    -fx-text-fill: -fx-font-color;
    -fx-font-size: 8px;
}

.group {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
